<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

  <!-- 定义了web应用的名称 -->
  <display-name>web-learn</display-name>

  <!-- description元素给出与此有关的说明性文本 -->
  <description></description>

  <!-- web应用上下文初始化参数 -->
  <context-param>
    <param-name>paramName1</param-name>
    <param-value>paramValue1</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>HelloSevlet</servlet-name>
    <servlet-class>com.areaofit.servlet.HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HelloSevlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>



</web-app>
